html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    background: #525252;
    color: #fff;
    font-family: 'Georgia', serif;
    margin: 0;
    line-height: 1.5em
    }
h1 {
    font-family: 'Tahoma, Arial', sans-serif;
    }
a {
  color: #ffff00;
  }
p {
  max-width: 500px;
}
#container {
  max-width: 900px;
  padding-bottom: 20px;
  margin: auto;
}
#Hawks2010, #Hawks2013, #Hawks2015 {
  background: #cf0a2c;

}
#Hawks2010Text {
  max-width: 40%;
}
#AllHawksCharts {
  max-width: 60%;
  float: right;
}
#Bruins2011{
  background: #ffb81c;
  color: #000;
}
#Kings2012, #Kings2014{
  background: #111111
}
#Penguins2016, #Penguins2017 {
  background: #fcb514;
  color:#000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Capitals2018 {
  background: #c8102e
}
#Blues2019 {
  background: #002f87
}
.teamCharts {
  max-width: 100%;
  padding-bottom: 20px;
}
.ChampsCharts {
  padding: 10px 20px 20px 20px;
  margin-top: 20px;
}

@media screen and (max-width: 930px) {
  #container{
    /* display: flex; */
    /* flex-direction: column; */
    margin-left: 20px;
    margin-right: 20px;
  }
  h1 {
    line-height: 2.5rem;
  }
  button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
